<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- <bean id="..." class="..."> collaborators and configuration for this 
		bean go here </bean> <bean id="..." class="..."> collaborators and configuration 
		for this bean go here </bean> more bean definitions go here -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/tss?autoReconnect=true" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<!-- 配置sessionFactory -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="tss.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
			</props>
		</property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="DaoHelper" class="tss.dao.impl.DaoHelperImpl">
	</bean>

	<bean id="UserDao" class="tss.dao.impl.UserDaoImpl">
		<property name="DaoHelper">
			<ref bean="DaoHelper" />
		</property>

	</bean>
	<bean id="AdminDao" class="tss.dao.impl.AdminDaoImpl">
		<property name="DaoHelper">
			<ref bean="DaoHelper" />
		</property>

	</bean>
	
	<bean id="CourseDao" class="tss.dao.impl.CourseDaoImpl">
		<property name="DaoHelper">
			<ref bean="DaoHelper" />
		</property>

	</bean>

	<bean id="UserService" class="tss.service.impl.UserServiceImpl">
		<property name="UserDao">
			<ref bean="UserDao" />
		</property>
	</bean>

	<bean id="AdminService" class="tss.service.impl.AdminServiceImpl">
		<property name="AdminDao">
			<ref bean="AdminDao" />
		</property>
		<property name="CourseDao">
			<ref bean="CourseDao" />
		</property>
	</bean>

	<bean id="LoginAction" class="tss.action.LoginAction">
		<property name="UserService">
			<ref bean="UserService" />
		</property>
	</bean>

	<bean id="LogoutAction" class="tss.action.LogoutAction">
	</bean>

	<bean id="AdminAddUserAction" class="tss.action.AdminAddUser">
		<property name="AdminService">
			<ref bean="AdminService" />
		</property>
	</bean>
	
	<bean id="AdminSearchUserAction" class="tss.action.AdminSearchUser">
		<property name="AdminService">
			<ref bean="AdminService" />
		</property>
	</bean>
	
	<bean id="AdminAddCoursesAction" class="tss.action.AdminAddCourses">
		<property name="AdminService">
			<ref bean="AdminService" />
		</property>
	</bean>
	
	<bean id="AdminSearchCoursesAction" class="tss.action.AdminSearchCourses">
		<property name="AdminService">
			<ref bean="AdminService" />
		</property>
	</bean>
	
	

</beans>